@charset "UTF-8";
@font-face {
  font-family: "kalibers";
  src: url("../font/kalibers.ttf") format("truetype");
}
@font-face {
  font-family: "hologen";
  src: url("../font/HalogenbyPixelSurplus-Regular.otf") format("opentype");
}
@font-face {
  font-family: "glitchGothic";
  src: url("../font/瀞ノグリッチ黒体H1.otf") format("opentype");
}
@font-face {
  font-family: "Melete";
  src: url("../font/Melete-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: "Melete";
  font-weight: bold;
  src: url("../font/Melete-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Melete";
  font-weight: lighter;
  src: url("../font/Melete-Light.otf") format("opentype");
}
@font-face {
  font-family: "Melete";
  font-weight: medium;
  src: url("../font/Melete-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Melete";
  font-weight: normal;
  src: url("../font/Melete-Regular.otf") format("opentype");
}
/* ページ全体のスタイル */
.mainwrap {
  max-width: 500px;
  padding: 0;
}
@media screen and (max-width: 750px) {
  .mainwrap {
    max-width: 750px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "nitalago-rera", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p, li {
  font-family: "nitalago-rera", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}
@media screen and (max-width: 750px) {
  p, li {
    font-size: 3.2vw;
  }
}

.mainvisualSection {
  height: 100vh;
}
.mainvisualSection__deco {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}
.mainvisualSection__deco::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 30px;
  background-color: white;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}
.mainvisualSection__logo {
  width: 50%;
  min-width: 704px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}
.mainvisualSection video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsSection .swiper {
  padding: 0px 25px;
}
@media screen and (max-width: 750px) {
  .newsSection .swiper {
    padding: 0 5vw;
  }
}
.newsSection .swiper-wrapper .swiper-slide img {
  width: 400px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 750px) {
  .newsSection .swiper-wrapper .swiper-slide img {
    width: 80vw;
  }
}
.newsSection .swiper-wrapper .swiper-slide p {
  width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .newsSection .swiper-wrapper .swiper-slide p {
    width: 80vw;
  }
}

.menforwordction {
  position: relative;
  z-index: 1;
  margin-top: 64px;
}
.menforwordction__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: #fff;
  mask-image: url("../img/wave.svg"), linear-gradient(#fff, #fff);
  mask-size: 1000px 46.6666666667px, 100% calc(100% - 45.3333333333px);
  mask-repeat: repeat-x;
  overflow: hidden;
  animation: wave 5s var(--mh--easing04) infinite both;
}
.menforwordction__bg-movie {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.menforwordction__bg-movie video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menforwordction__contents {
  position: relative;
  z-index: 10;
  padding-top: 64px;
}
.menforwordction__contents h2 {
  color: #fff;
}

@keyframes wave {
  0% {
    mask-position: 0% top, center bottom;
  }
  100% {
    mask-position: 100% top, center bottom;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 15px;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 65px;
    opacity: 0;
  }
}
:root {
  --mh--easing04: cubic-bezier(0.22, 0.5, 0.7, 0.5);
}