@charset "UTF-8";
.menuSection__contents .swiperFood, .menuSection__contents .swiperDrink, .menuSection__contents .swiperTakeOut, .newsSection .swiper {
  padding: 0px 25px 20px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperFood, .menuSection__contents .swiperDrink, .menuSection__contents .swiperTakeOut, .newsSection .swiper {
    padding: 0px 5vw 4vw;
  }
}

.menuSection__contents .swiperFood .swiper-wrapper .swiper-slide img, .menuSection__contents .swiperDrink .swiper-wrapper .swiper-slide img, .menuSection__contents .swiperTakeOut .swiper-wrapper .swiper-slide img, .newsSection .swiper-wrapper .swiper-slide img {
  width: 400px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperFood .swiper-wrapper .swiper-slide img, .menuSection__contents .swiperDrink .swiper-wrapper .swiper-slide img, .menuSection__contents .swiperTakeOut .swiper-wrapper .swiper-slide img, .newsSection .swiper-wrapper .swiper-slide img {
    width: 80vw;
    border-radius: 10vw;
  }
}

.menuSection__contents .swiperFood .swiper-wrapper .swiper-slide figcaption, .menuSection__contents .swiperDrink .swiper-wrapper .swiper-slide figcaption, .menuSection__contents .swiperTakeOut .swiper-wrapper .swiper-slide figcaption, .newsSection .swiper-wrapper .swiper-slide figcaption {
  width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperFood .swiper-wrapper .swiper-slide figcaption, .menuSection__contents .swiperDrink .swiper-wrapper .swiper-slide figcaption, .menuSection__contents .swiperTakeOut .swiper-wrapper .swiper-slide figcaption, .newsSection .swiper-wrapper .swiper-slide figcaption {
    width: 80vw;
    padding: 4vw 2vw;
  }
}

.accessSection__bg, .menuSection__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: #fff;
  mask-image: url("../img/wave.svg"), linear-gradient(#fff, #fff);
  mask-size: 1000px 46.6666666667px, 100% calc(100% - 45.3333333333px);
  mask-repeat: repeat-x;
  overflow: hidden;
  animation: wave 5s var(--mh--easing04) infinite both;
}
@media screen and (max-width: 750px) {
  .accessSection__bg, .menuSection__bg {
    mask-size: 200vw 9.3333333333vw, 100% calc(100% - 9.0666666667vw);
  }
}

/* ページ全体のスタイル */
@media screen and (max-width: 750px) {
  .sp-only {
    display: block;
  }
}
@media screen and (min-width: 750px) {
  .sp-only {
    display: none !important;
  }
}

@media screen and (max-width: 750px) {
  .pc-only {
    display: none !important;
  }
}
@media screen and (min-width: 750px) {
  .pc-only {
    display: block;
  }
}

.background {
  background-image: url(../img/img_bg.jpg) !important;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 0;
}
.background::after {
  display: none;
}

.left,
.right {
  position: fixed;
  top: 0;
  width: calc((100vw - 500px) / 2);
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.left .is-active,
.right .is-active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s;
}

.left__logo {
  width: 80%;
  opacity: 0;
  transition: opacity 0.3s;
}
.left__logo svg .cls-3 {
  fill: #0080FF;
}

.right {
  right: 0;
}
.right nav {
  width: fit-content;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s;
}
.right nav ul li {
  opacity: 0.5;
  transition: opacity 0.3s;
  pointer-events: auto;
  position: relative;
  padding-left: 36px;
}
.right nav ul li a {
  color: #0080FF;
  font-size: 26px;
}
.right nav ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/icn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.right nav ul li:nth-child(n+2) {
  margin-top: 20px;
}
.right nav ul li:hover {
  opacity: 1;
}
.right nav ul .is-current {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.mainwrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 128px 0;
  position: relative;
  z-index: 1;
  background-color: #FFFFCC;
}
@media screen and (max-width: 750px) {
  .mainwrap {
    max-width: 750px;
    padding: 25.6vw 0;
  }
}

.is-inview {
  opacity: 0;
  translate: 0 16px;
  transition: 1s ease;
}

.is-view {
  opacity: 1;
  translate: 0 0;
}

.test {
  position: relative;
}

@keyframes rotator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "nitalago-rera", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-size: 0.5em;
  display: block;
}

h2 {
  color: #0080FF;
  font-size: 32px;
  padding-bottom: 32px;
}
@media screen and (max-width: 750px) {
  h2 {
    font-size: 6.4vw;
    padding-bottom: 6.4vw;
  }
}

h3 {
  color: #FFB300;
  font-size: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 750px) {
  h3 {
    font-size: 4.8vw;
    padding-bottom: 4.8vw;
  }
}

p,
li,
a,
figcaption,
th,
td,
dd,
dt {
  font-family: "nitalago-rera", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #646464;
  text-transform: uppercase;
}
@media screen and (max-width: 750px) {
  p,
  li,
  a,
  figcaption,
  th,
  td,
  dd,
  dt {
    font-size: 3.2vw;
  }
}

dl {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
dl div {
  align-items: flex-start;
  gap: 16px;
  display: flex;
}
dl div dt {
  font-size: 14px;
  font-weight: 500;
  color: #646464;
  border: 1px solid #646464;
  width: 100%;
  max-width: 95px;
  min-width: 95px;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 100px;
  line-height: 1;
}
@media screen and (max-width: 750px) {
  dl div dt {
    font-size: 2.8vw;
    max-width: 19vw;
    min-width: 19vw;
  }
}

p {
  line-height: 1.7;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
}

li,
dt {
  line-height: 1.4;
  margin: 0;
}

small {
  display: block;
  padding-left: 2em;
  text-indent: -1em;
}

picture {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
picture img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.swiper-pagination {
  position: relative;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #646464;
  opacity: 0.5;
}
@media screen and (max-width: 750px) {
  .swiper-pagination-bullet {
    width: 2vw;
    height: 2vw;
  }
}
.swiper-pagination-bullet-active {
  background-color: #0080FF;
  opacity: 1;
}

.load {
  background-image: url(../img/img_load_pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100svh;
}
.load:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 128, 255, 0.3);
  mix-blend-mode: saturation;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 750px) {
  .load {
    background-image: url(../img/img_load_sp.jpg);
    background-position: bottom center;
  }
}
.load__animation {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
}
.load__animation svg {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 750px) {
  .load__animation svg {
    width: 40vw;
    height: 40vw;
  }
}
.load__animation p {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .load__animation p {
    font-size: 6.4vw;
  }
}
.load__animation .svg-elem-1 {
  animation: animate-svg-stroke-1 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
}
.load__animation .svg-elem-2 {
  animation: animate-svg-stroke-2 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
}
.load__animation .svg-elem-3 {
  animation: animate-svg-stroke-3 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
}
.load__animation .svg-elem-4 {
  animation: animate-svg-stroke-4 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
}
.load__animation .svg-elem-5 {
  animation: animate-svg-stroke-5 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
}
.load__animation .svg-elem-6 {
  animation: animate-svg-stroke-6 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
}
.load__animation .svg-elem-7 {
  animation: animate-svg-stroke-7 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
}
.load__animation .svg-elem-8 {
  animation: animate-svg-stroke-8 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
}
.load__dots {
  display: inline-flex;
}
.load__dot {
  opacity: 0;
  animation: 1.2s ease-in-out infinite dot-blink;
}
.load__dot:first-child {
  margin-left: 5px;
  animation-delay: 0s;
}
.load__dot:nth-child(2) {
  animation-delay: 0.4s;
}
.load__dot:last-child {
  animation-delay: 0.8s;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}

.no-active {
  transition-property: opacity;
  transition-delay: 0.9s;
  transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  /* 少しだけ上に浮く */
}
body.bar .background {
  background-image: url(../img/img_bg_bar.jpg) !important;
}
body.bar .background::after {
  display: none;
}
body.bar .left__logo {
  width: 80%;
}
body.bar .left__logo svg .cls-3 {
  fill: #c70000;
}
body.bar .right {
  right: 0;
}
body.bar .right nav {
  width: fit-content;
  margin: 0 auto;
}
body.bar .right nav ul li a {
  color: #c70000;
}
body.bar .right nav ul li::after {
  background-image: url(../img/icn_bar.svg);
}
body.bar .mainwrap {
  background-color: #000;
}
body.bar h1,
body.bar h2,
body.bar h3,
body.bar h4,
body.bar h5,
body.bar h6 {
  font-family: "ta-kakugo-gf-01", "ta-kakugo-gf-02", "ta-kakugo-gf-03", sans-serif;
  font-weight: 400;
  letter-spacing: 0.035em;
}
body.bar h2 {
  color: #c70000;
}
body.bar h3 {
  color: #829AA8;
}
body.bar p,
body.bar li,
body.bar a,
body.bar figcaption,
body.bar th,
body.bar td,
body.bar dt,
body.bar dd {
  font-family: "ta-kakugo-gf-01", "ta-kakugo-gf-02", "ta-kakugo-gf-03", sans-serif;
  color: #fff;
}
body.bar dl dt {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #fff;
}
body.bar .swiper-pagination-bullet {
  background-color: #fff;
}
body.bar .swiper-pagination-bullet-active {
  background-color: #c70000;
}
body.bar .load:before {
  background-color: #c70000;
  mix-blend-mode: difference;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  pointer-events: none;
}
@media screen and (max-width: 750px) {
  .header {
    padding: 2vw;
  }
}
.header__logo {
  width: 300px;
  height: auto;
  pointer-events: auto;
}
@media screen and (max-width: 750px) {
  .header__logo {
    width: 40vw;
  }
}
.header__logo svg {
  transition: opacity 0.3s;
}
.header__logo svg:hover {
  opacity: 0.5;
}
.header__logo svg .cls-1 {
  fill: #fff;
  transition: fill 0.3s;
}
.header__logo svg .is-over {
  fill: #0080FF;
}
.header__wrap {
  position: relative;
}
.header__btn {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
  display: inline-block;
  pointer-events: auto;
}
.header__btn span {
  display: block;
  height: 4px;
  margin: 6px 0;
  background: #fff;
  border-radius: 2px;
  transition: 0.4s;
}
.header__btn span.is-over {
  background: #0080FF;
}
.header__btn span.is-click {
  background: #fff;
}
.header__nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #0080FF;
  transition: right 0.4s ease;
  z-index: 2;
}
.header__nav ul {
  list-style: none;
  padding: 60px 20px;
  pointer-events: auto;
}
.header__nav ul li {
  margin: 20px 0;
}
.header__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: opacity ease 0.3s;
}
.header__nav ul li a:hover {
  opacity: 0.5;
}
.header picture {
  position: fixed;
  right: -100%;
  bottom: 0;
  z-index: 2;
  width: 100%;
  transition: right 0.4s ease;
}
.header #menu-toggle:checked + .header__btn span:first-child {
  transform: translateY(10px) rotate(45deg);
}
.header #menu-toggle:checked + .header__btn span:nth-child(2) {
  opacity: 0;
}
.header #menu-toggle:checked + .header__btn span:last-child {
  transform: translateY(-10px) rotate(-45deg);
}
.header #menu-toggle:checked ~ .header__nav {
  right: 0;
}
.header #menu-toggle:checked ~ picture {
  right: 0;
}

body.bar .header__logo svg .is-over {
  fill: #c70000;
}
body.bar .header__btn span.is-over {
  background: #c70000;
}
body.bar .header__btn span.is-click {
  background: #fff;
}
body.bar .header__nav {
  background: #c70000;
}

.mainvisualSection {
  position: relative;
  z-index: 1;
  height: 100svh;
  transform: opacity 0.8s ease;
}
.mainvisualSection__deco {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}
.mainvisualSection__deco::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 30px;
  background-color: white;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}
.mainvisualSection__logo {
  max-width: 950px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}
@media screen and (max-width: 750px) {
  .mainvisualSection__logo {
    width: 90vw;
  }
}
.mainvisualSection video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conceptSection {
  padding-top: 64px;
}
@media screen and (max-width: 750px) {
  .conceptSection {
    padding-top: 12.8vw;
  }
}
.conceptSection h2 {
  padding-top: 0;
}
.conceptSection p {
  padding: 0 25px 20px;
  text-align: center;
  line-height: 1.5;
}
@media screen and (max-width: 750px) {
  .conceptSection p {
    padding: 0 5vw 4vw;
  }
}

.newsSection {
  padding-top: 64px;
}
@media screen and (max-width: 750px) {
  .newsSection {
    padding-top: 12.8vw;
  }
}
.newsSection h3,
.newsSection p {
  text-align: left;
  padding: 0 20px;
}
@media screen and (max-width: 750px) {
  .newsSection h3,
  .newsSection p {
    padding: 0 4vw;
  }
}
.newsSection__calendar {
  width: 450px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 750px) {
  .newsSection__calendar {
    width: 90vw;
  }
}
.newsSection__calendar table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 5px;
  border: none;
}
.newsSection__calendar table thead,
.newsSection__calendar table tbody {
  height: auto;
}
.newsSection__calendar table tr {
  height: calc(100% / var(--calendar-rows));
}
.newsSection__calendar table th,
.newsSection__calendar table td {
  width: 14.2857142857%;
  height: auto;
  color: #646464;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .newsSection__calendar table th,
  .newsSection__calendar table td {
    box-shadow: 0 0.4vw 1vw rgba(0, 0, 0, 0.05);
    border-radius: 2vw;
  }
}
.newsSection__calendar table th:first-child,
.newsSection__calendar table td:first-child {
  color: #ff0000;
}
.newsSection__calendar table th:last-child,
.newsSection__calendar table td:last-child {
  color: #4169e1;
}
.newsSection__calendar table .is-disabled {
  color: #cacaca !important;
}
.newsSection__calendar table .shark-day {
  position: relative;
  background-color: #7cedfc;
}
.newsSection__calendar table .shark-day:before {
  content: "🦈";
  position: absolute;
  top: 2px;
  right: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  animation: float 2s ease-in-out infinite;
}
.newsSection__calendar table .holiday {
  background-color: #ffce89;
}
.newsSection__calendar table .today {
  background-color: #0080FF;
  color: #fff;
}

.menuSection {
  position: relative;
  z-index: 1;
  margin-top: 32px;
}
@media screen and (max-width: 750px) {
  .menuSection {
    margin-top: 6.4vw;
  }
}
.menuSection p,
.menuSection figcaption {
  color: #fff;
}
.menuSection__bg {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.menuSection__bg::after {
  content: "";
  background-color: rgba(0, 128, 255, 0.2588235294);
  mix-blend-mode: color-dodge;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}
.menuSection__bg-movie {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
}
.menuSection__bg-movie video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menuSection__contents {
  position: relative;
  padding: 64px 0;
}
.menuSection__contents h2 {
  color: #FFFFCC;
}
.menuSection__contents h3 {
  color: #fff;
}
.menuSection__contents .swiper-pagination {
  position: relative;
}
.menuSection__contents .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.5;
}
.menuSection__contents .swiper-pagination-bullet-active {
  background-color: #0080FF;
  opacity: 1;
}

body.bar .menuSection__bg::after {
  background-color: rgba(199, 0, 0, 0.3019607843);
  mix-blend-mode: hue;
}
body.bar .menuSection__contents h2 {
  color: #000;
}
body.bar .menuSection__contents h3 {
  color: #fff;
}
body.bar .menuSection__contents .swiper-pagination-bullet {
  background-color: #fff;
}
body.bar .menuSection__contents .swiper-pagination-bullet-active {
  background-color: #c70000;
}

.accessSection {
  position: relative;
  z-index: 1;
  margin-top: -48px;
}
@media screen and (max-width: 750px) {
  .accessSection {
    margin-top: -9.6vw;
  }
}
.accessSection__bg {
  background-color: #FFFFCC;
}
.accessSection__contents {
  position: relative;
  padding: 64px 0;
}
.accessSection__map {
  height: 300px;
  margin-bottom: 16px;
}
@media screen and (max-width: 750px) {
  .accessSection__map {
    height: 60vw;
    margin-bottom: 3.2vw;
  }
}
.accessSection__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.accessSection picture {
  margin-bottom: 16px;
}
@media screen and (max-width: 750px) {
  .accessSection picture {
    margin-bottom: 3.2vw;
  }
}
.accessSection__txt {
  width: 450px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .accessSection__txt {
    width: 90vw;
  }
}

body.bar .accessSection__bg {
  background-color: #000;
}

.shareSection h2 {
  width: fit-content;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 4px 32px;
  background-image: linear-gradient(#FFFFCC 0%, #FFFFCC 100%);
}
@media screen and (max-width: 750px) {
  .shareSection h2 {
    padding: 0 0.8vw 6.4vw;
  }
}
.shareSection__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: 2px solid #0080FF;
  width: fit-content;
  margin: -52px auto 0;
  padding: 64px 32px 32px;
  border-radius: 25px;
}
@media screen and (max-width: 750px) {
  .shareSection__box {
    padding: 12.8vw 6.4vw 6.4vw;
    margin: -10.4vw auto 0;
  }
}
.shareSection ul li iconify-icon {
  color: #0080FF;
  font-size: 48px;
  transition: opacity ease 0.3s;
}
.shareSection ul li iconify-icon:hover {
  opacity: 0.5;
}
@media screen and (max-width: 750px) {
  .shareSection ul li iconify-icon {
    font-size: 9.6vw;
  }
}

body.bar .shareSection h2 {
  background-image: linear-gradient(#000 0%, #000 100%);
}
body.bar .shareSection__box {
  border: 2px solid #c70000;
}
body.bar .shareSection ul li iconify-icon {
  color: #c70000;
  font-size: 48px;
  transition: opacity ease 0.3s;
}
body.bar .shareSection ul li iconify-icon:hover {
  opacity: 0.5;
}
@media screen and (max-width: 750px) {
  body.bar .shareSection ul li iconify-icon {
    font-size: 9.6vw;
  }
}

.footer {
  background-color: #0080FF;
  z-index: 0;
  margin: 0 auto;
  padding: 64px 128px 34px;
  position: relative;
}
@media screen and (max-width: 750px) {
  .footer {
    padding: 12.8vw 6.4vw 6.8vw;
  }
}
.footer p,
.footer li,
.footer a,
.footer dt,
.footer dd {
  color: #fff;
}
.footer dt {
  border: 1px solid #fff;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .footer__inner {
    flex-direction: column;
    gap: 3.2vw;
  }
}
.footer__inner > * {
  max-width: 500px;
  width: 100%;
}
@media screen and (max-width: 750px) {
  .footer__inner > * {
    max-width: 100%;
    width: 100%;
  }
}
.footer__box:first-child {
  text-align: center;
}
.footer__box:first-child nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
@media screen and (max-width: 750px) {
  .footer__box:first-child nav ul {
    gap: 3.2vw;
    margin-top: 3.2vw;
  }
}
.footer__box:first-child nav ul iconify-icon {
  font-size: 36px;
  transition: color 0.3s ease;
}
@media screen and (max-width: 750px) {
  .footer__box:first-child nav ul iconify-icon {
    font-size: 7.2vw;
  }
}
.footer__logo {
  display: block;
  max-width: 500px;
  width: 100%;
}
@media screen and (max-width: 750px) {
  .footer__logo {
    max-width: 100%;
    width: 100%;
  }
}
.footer__media a:hover {
  color: #FFB300;
}
.footer__nav a {
  padding-bottom: 2px;
  position: relative;
}
.footer__nav a:before {
  background: #fff;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.footer__nav a:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.footer__btn {
  max-width: 500px;
  width: 100%;
  padding: 1.5rem 0.5rem;
  margin: 16px auto 0;
  z-index: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #0080FF;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
@media screen and (max-width: 750px) {
  .footer__btn {
    max-width: 100%;
    width: 100%;
    padding: 4.8vw 1.6vw;
    border-radius: 6vw;
    margin-top: 3.2vw;
    font-size: 3.2vw;
  }
}
.footer__btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
@media screen and (max-width: 750px) {
  .footer__btn:before {
    border-radius: 6vw;
  }
}
.footer__map {
  max-width: 500px;
  width: 100%;
  border: none;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .footer__map {
    max-width: 100%;
  }
}
.footer__txt {
  margin-top: 16px;
}
@media screen and (max-width: 750px) {
  .footer__txt {
    margin-top: 3.2vw;
  }
}
.footer__cl {
  text-align: center;
  margin-top: 24px;
}
@media screen and (max-width: 750px) {
  .footer__cl {
    margin-top: 4.8vw;
  }
}
.footer .blob-btn--secondary:before {
  border-color: #fff;
}
.footer .blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.footer .blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url(#goo);
}
.footer .blob-btn__blob {
  position: absolute;
  top: 2px;
  z-index: 17;
  width: 25%;
  height: 100%;
  background: #0080FF;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
.footer .blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.footer .blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.footer .blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.footer .blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
@supports (filter: url(#goo)) {
  .footer .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
@supports (filter: url("#goo")) {
  .footer .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(3.2);
  }
}
.footer .blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
@media screen and (max-width: 750px) {
  .footer .blob-btn:after {
    border-radius: 6vw;
  }
}
.footer .blob-btn--secondary:hover {
  color: #fff;
}
.footer .blob-btn:hover {
  color: #fff;
  border-radius: 30px;
}
@media screen and (max-width: 750px) {
  .footer .blob-btn:hover {
    border-radius: 6vw;
  }
}
.footer .blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
@media screen and (max-width: 750px) {
  .footer .blob-btn:hover:after {
    border-radius: 6vw;
  }
}

body.bar .footer {
  background-color: #000;
}
body.bar .footer__media a:hover {
  color: #829AA8;
}
body.bar .footer__btn {
  color: #000;
  background-color: #c70000;
}
body.bar .footer__btn:before {
  border: 2px solid #c70000;
}
body.bar .footer .blob-btn--secondary:before {
  border-color: #c70000;
}
body.bar .footer .blob-btn__blob {
  background: #000;
}
body.bar .footer .blob-btn--secondary:hover {
  color: #c70000;
}
body.bar .footer .blob-btn:hover {
  color: #c70000;
}

@keyframes wave {
  0% {
    mask-position: 0% top, center bottom;
  }
  100% {
    mask-position: 100% top, center bottom;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 15px;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 65px;
    opacity: 0;
  }
}
@keyframes dot-blink {
  0%, to {
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
}
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 933.7100830078px;
    stroke-dasharray: 933.7100830078px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 933.7100830078px;
  }
}
@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 247.1970214844px;
    stroke-dasharray: 247.1970214844px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 247.1970214844px;
  }
}
@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 61.0493621826px;
    stroke-dasharray: 61.0493621826px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.0493621826px;
  }
}
@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 61.0430870056px;
    stroke-dasharray: 61.0430870056px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.0430870056px;
  }
}
@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 61.0499000549px;
    stroke-dasharray: 61.0499000549px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.0499000549px;
  }
}
@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 61.0478973389px;
    stroke-dasharray: 61.0478973389px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.0478973389px;
  }
}
@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 61.0615196228px;
    stroke-dasharray: 61.0615196228px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.0615196228px;
  }
}
@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 61.069568634px;
    stroke-dasharray: 61.069568634px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 61.069568634px;
  }
}
@keyframes a-ika-jump {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.15, 0.65);
  }
  90% {
    transform: scale(0.85, 1.15);
  }
  100% {
    transform: scale(0.85, 1.15);
  }
}
:root {
  --mh--easing04: cubic-bezier(0.22, 0.5, 0.7, 0.5);
}