@charset "UTF-8";
.swiper, .menuSection__contents .swiperFood, .menuSection__contents .swiperDrink, .menuSection__contents .swiperTakeOut, .newsSection .swiper {
  padding: 0px 25px 20px;
  overflow: hidden;
}

.swiper__img, .menuSection__contents .swiperFood .swiper-wrapper .swiper-slide img, .menuSection__contents .swiperDrink .swiper-wrapper .swiper-slide img, .menuSection__contents .swiperTakeOut .swiper-wrapper .swiper-slide img, .newsSection .swiper-wrapper .swiper-slide img {
  width: 400px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.swiper__txt, .menuSection__contents .swiperFood .swiper-wrapper .swiper-slide p, .menuSection__contents .swiperDrink .swiper-wrapper .swiper-slide p, .menuSection__contents .swiperTakeOut .swiper-wrapper .swiper-slide p, .newsSection .swiper-wrapper .swiper-slide p {
  width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
}

/* ページ全体のスタイル */
@media screen and (min-width: 750px) {
  .spOnly {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .spOnly {
    display: block;
  }
}

@media screen and (min-width: 750px) {
  .pcOnly {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .pcOnly {
    display: none;
  }
}

.background {
  background-image: url(../img/img_bg.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 0;
}
.background::after {
  display: none;
}

.left, .right {
  position: fixed;
  top: 0;
  width: calc((100vw - 500px) / 2);
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.left__logo {
  width: 500px;
}

.right {
  right: 0;
}
.right nav {
  width: 250px;
  margin: 0 auto;
}
.right nav ul li {
  color: #0080FF;
  font-size: 26px;
  opacity: 0.5;
}
.right nav ul li:nth-child(n+2) {
  margin-top: 20px;
}
.right nav ul .is-current {
  opacity: 1;
}

.mainwrap {
  max-width: 500px;
  padding: 0;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 750px) {
  .mainwrap {
    max-width: 750px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "nitalago-rera", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #0080FF;
  font-size: 32px;
  padding-bottom: 32px;
}
@media screen and (max-width: 750px) {
  h2 {
    font-size: 6.4vw;
    padding-bottom: 6.4vw;
  }
}

h3 {
  color: #FFB300;
  font-size: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 750px) {
  h3 {
    font-size: 4.8vw;
    padding-bottom: 4.8vw;
  }
}

p, li {
  font-family: "nitalago-rera", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #646464;
}
@media screen and (max-width: 750px) {
  p, li {
    font-size: 3.2vw;
  }
}

.swiper-pagination {
  position: relative;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #646464;
  opacity: 0.5;
}
@media screen and (max-width: 750px) {
  .swiper-pagination-bullet {
    width: 2vw;
    height: 2vw;
  }
}
.swiper-pagination-bullet-active {
  background-color: #0080FF;
  opacity: 1;
}

.mainvisualSection {
  position: relative;
  z-index: 1;
  height: 100vh;
}
.mainvisualSection__deco {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}
.mainvisualSection__deco::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 30px;
  background-color: white;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}
.mainvisualSection__logo {
  width: 950px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}
@media screen and (max-width: 750px) {
  .mainvisualSection__logo {
    width: 90vw;
  }
}
.mainvisualSection video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.captionSection p {
  padding: 0 25px;
}

.newsSection h3, .newsSection p {
  text-align: left;
  padding: 0 20px;
}
@media screen and (max-width: 750px) {
  .newsSection .swiper {
    padding: 0px 5vw 4vw;
  }
}
@media screen and (max-width: 750px) {
  .newsSection .swiper-wrapper .swiper-slide img {
    width: 80vw;
  }
}
@media screen and (max-width: 750px) {
  .newsSection .swiper-wrapper .swiper-slide p {
    width: 80vw;
  }
}

.menuSection {
  position: relative;
  z-index: 1;
  margin-top: 64px;
}
.menuSection p {
  color: #fff;
}
.menuSection__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: #fff;
  mask-image: url("../img/wave.svg"), linear-gradient(#fff, #fff);
  mask-size: 1000px 46.6666666667px, 100% calc(100% - 45.3333333333px);
  mask-repeat: repeat-x;
  overflow: hidden;
  animation: wave 5s var(--mh--easing04) infinite both;
}
.menuSection__bg-movie {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.menuSection__bg-movie video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menuSection__contents {
  position: relative;
  padding: 64px 0;
}
.menuSection__contents h2, .menuSection__contents h3 {
  color: #fff;
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperFood {
    padding: 0px 5vw 4vw;
  }
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperFood .swiper-wrapper .swiper-slide img {
    width: 80vw;
  }
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperFood .swiper-wrapper .swiper-slide p {
    width: 80vw;
  }
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperDrink {
    padding: 0px 5vw 4vw;
  }
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperDrink .swiper-wrapper .swiper-slide img {
    width: 80vw;
  }
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperDrink .swiper-wrapper .swiper-slide p {
    width: 80vw;
  }
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperTakeOut {
    padding: 0px 5vw 4vw;
  }
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperTakeOut .swiper-wrapper .swiper-slide img {
    width: 80vw;
  }
}
@media screen and (max-width: 750px) {
  .menuSection__contents .swiperTakeOut .swiper-wrapper .swiper-slide p {
    width: 80vw;
  }
}
.menuSection__contents .swiper-pagination {
  position: relative;
}
.menuSection__contents .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.5;
}
.menuSection__contents .swiper-pagination-bullet-active {
  background-color: #0080FF;
  opacity: 1;
}

.accessSection {
  position: relative;
  z-index: 1;
  margin-top: -32px;
}
.accessSection__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: #FFFFCC;
  mask-image: url("../img/wave.svg"), linear-gradient(#fff, #fff);
  mask-size: 1000px 46.6666666667px, 100% calc(100% - 45.3333333333px);
  mask-repeat: repeat-x;
  overflow: hidden;
  animation: wave 5s var(--mh--easing04) infinite both;
}
.accessSection__contents {
  position: relative;
  padding: 64px 0;
}

@keyframes wave {
  0% {
    mask-position: 0% top, center bottom;
  }
  100% {
    mask-position: 100% top, center bottom;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 15px;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 65px;
    opacity: 0;
  }
}
:root {
  --mh--easing04: cubic-bezier(0.22, 0.5, 0.7, 0.5);
}