@charset "UTF-8";

:root {
  --drawerColor: #393f4c;
  /* ドロワーボタンとMENUの色。藍鉄色 */
  --barColor: #eaf4fc;
  /* ドロワーボタンのアニメーションするバーの色。月白色 */
  --menuColor: linear-gradient(109.6deg, rgba(204, 228, 247, 1) 11.2%, rgba(237, 246, 250, 1) 100.2%);
  /* メニューの背景色。グラデーションなのでbackground-imageで指定 */
}

.header {
  /* 透明度を調整 */
  color: white;
  position: relative;
  width: 100%;
  z-index: 100;
  position: fixed;
}
@media (max-width: 375px) {
  .header {
    height: 70px;
  }
}

.another {
  background-color: rgba(0, 0, 0, 0.5);
}

.headerNav {
  width: 100%;
}
.headerNav .toggleButton {
  display: none;
}
@media (max-width: 800px) {
  .headerNav {
    /* メディアクエリの値はお好みで */
  }
  .headerNav .toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: block;
    /* display:none;を解除するために入れている */
    background: #FFB300;
    border-radius: 5px;
    z-index: 1000;
  }
  .headerNav .toggleButton::after {
    content: "MENU";
    position: absolute;
    bottom: -1rem;
    font-size: 0.725rem;
    font-weight: bold;
    color: #FFB300;
  }
  .headerNav .anotherToggle {
    background: #333333;
  }
  .headerNav .anotherToggle::after {
    color: white;
  }
  .headerNav .toggleButton span {
    width: 60%;
    height: 4px;
    display: block;
    position: absolute;
    left: 20%;
    background-color: #FFFFCC;
    border-radius: 5px;
    transition: all 0.2s linear;
  }
  .headerNav .anotherToggle span {
    background-color: #ffffff;
  }
  .headerNav .toggleButton span:nth-of-type(1) {
    top: 10px;
    transform: rotate(0);
  }
  .headerNav .toggleButton span:nth-of-type(2) {
    top: 18px;
    transform: scale(1);
  }
  .headerNav .toggleButton span:nth-of-type(3) {
    bottom: 10px;
    transform: rotate(0);
  }
  .headerNav .close span:nth-of-type(1) {
    top: 18px;
    transform: rotate(-45deg);
  }
  .headerNav .close span:nth-of-type(2) {
    transform: scale(0);
  }
  .headerNav .close span:nth-of-type(3) {
    bottom: 18px;
    transform: rotate(45deg);
  }
  .headerNav #drawerMenu {
    position: fixed;
    top: 0;
    right: -240px;
    transition: all 0.3s linear;
    z-index: 100;
  }
  .headerNav #drawerMenu.open {
    right: 200px;
  }
  .headerNav #drawerMenu ul {
    display: block;
    width: 200px;
    height: 50%;
    padding: 80px 20px 20px 20px;
    background-color: rgba(0, 128, 255, 0.5);
    mix-blend-mode: multiply;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    border-radius: 0 0 0 10px;
  }
  .headerNav .anotherDrawer ul {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .headerNav #drawerMenu li {
    width: 100%;
    padding-top: 0.5rem;
  }
}
.headerNav ul {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  gap: 2rem;
  color: white;
}
.headerNav ul li {
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
}
.headerNav ul li::before {
  background: #ffffff;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.headerNav ul li:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}
.swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-wrapper .swiper-slide video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainV {
  height: 100vh;
  position: relative;
  z-index: 10;
}
.mainV .mainLogo {
  width: 50%;
  min-width: 704px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}
@media (max-width: 800px) {
  .mainV .mainLogo {
    width: 90%;
    min-width: inherit;
  }
}
.mainV .mainLogo img {
  width: 100%;
  height: 100%;
}
.mainV .scroll {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}
.mainV .scroll::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 30px;
  background-color: white;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 15px;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 65px;
    opacity: 0;
  }
}

.background {
  width: 100%;
  position: relative;
  z-index: -10;
}
.background .backVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  width: 100%;
  height: auto;
}
.background .backVideo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.background::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 128, 255, 0.5);
  mix-blend-mode: multiply;
  background-image: radial-gradient(#0080ff 52%, transparent 31%), radial-gradient(#0080ff 52%, transparent 31%);
  background-size: 2rem 2rem;
  background-position: 0 0, 1rem 1rem;
}

.backgroundAnother::after {
  background-color: rgba(0, 125, 50, 0.5);
  background-image: none;
}

.box {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .box {
    display: block;
  }
}

.backLogo {
  position: sticky;
  z-index: -1;
  width: 15%;
  height: 95vh;
  top: 3%;
  left: 2%;
}
@media (max-width: 800px) {
  .backLogo {
    display: none;
  }
}
.backLogo .backLogoWrap {
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  .backLogo .backLogoWrap {
    display: none;
  }
}

.anotherButton {
  position: sticky;
  left: 83%;
  top: 95%;
}
.anotherButton .anotherShrak {
  width: 15%;
  height: auto;
}
@media (max-width: 800px) {
  .anotherButton .anotherShrak {
    right: -222%;
  }
}

#concept .capBox h3 {
  text-align: center;
}
#concept .capBox p {
  line-height: 1.5rem;
  padding: 1rem 0;
}
#concept .capBox .capPhoto {
  max-width: 100%;
  height: auto;
  aspect-ratio: 91/61;
}
@media (max-width: 375px) {
  #concept .capBox .capPhoto {
    height: 250px;
  }
}
#concept .capBox .capPhoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#news .newsBox h2 {
  text-align: left;
}
#news .newsBox h3 {
  padding: 0.5rem 0;
}
#news .newsBox p {
  line-height: 1.5rem;
}

@keyframes fadeInText1 {
  0% {
    opacity: 0;
    top: 100%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.seeYou {
  position: relative;
  text-align: center;
  margin: 9rem 0 0 0;
}
.seeYou p {
  color: #0080FF;
}
.seeYou p .run1 {
  animation: fadeInText1 1s ease-out both;
}
.seeYou p .run2 {
  animation: fadeInText1 1s ease-out both;
}/*# sourceMappingURL=style.css.map */

h1,h2,h3,h4,p{
  font-family: "logo-arl-std", sans-serif;
font-weight: 300;
font-style: normal;
}