// ① math モジュール
@use "sass:math";

// ② common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

/* ページ全体のスタイル */

.background{
    background-image: url('/img/img_bg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    z-index: 0;

    &::after{
        display: none;
    }
}

.mainwrap{
    max-width: 500px;
    padding: 0;
    position: relative;
    z-index: 1;

    @include sp() {
        max-width: 750px;
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: "nitalago-rera", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

h2{
    color: $mainColor;
}

h3{
    color: $subColor;
}

p,li{
    font-family: "nitalago-rera", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: $txtColor;

    @include sp() {
        font-size: getVwSp(16);
    }
}

.swiper-pagination{
    position: relative;
    &-bullet{
        background-color: $txtColor;
        opacity: .5;

        &-active{
            background-color: $mainColor;
            opacity: 1;
        }
    }
}

.spOnly{
    @include pc(){
        display: none;
    }
    @include sp(){
        display: block;
    }
}

.pcOnly{
    @include pc(){
        display: block;
    }
    @include sp(){
        display: none;
    }
}