// math モジュール
@use "sass:math";

// common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

.newsSection{
    h3,p{
        text-align: left;
        padding: 0 20px;
    }
    
    .swiper{
        @extend .swiper;
        
        @include sp() {
            @include swiper-sp;
        }

        &-wrapper{
            .swiper-slide{
                img{
                    @extend .swiper__img;

                    @include sp() {
                        @include swiper__img-sp;
                    }
                }

                figcaption{
                    @extend .swiper__txt;

                    @include sp() {
                        @include swiper__txt-sp;
                    }
                }
            }
        }
    }

    &__calendar{
        width: 100%;
        padding: 0px 25px;

        table{
            width: 100%;
            border-collapse: collapse;
            text-align: center;

            td{
                border: 1px solid $txtColor;
                padding: 21px 0;
                color: $txtColor;
                width: calc(100%/ 7);

                &:first-child{
                    color: $sundayColor;
                }

                &:last-child {
                    color: $saturdayColor;
                }
            }

            .is-disabled{
                color: lighten($txtColor,40%) !important;
            }
        }
    }
}