$mainColor: #0080FF;
$subColor: #FFB300;
$bgColor: #FFFFCC;
$txtColor: #646464;

$mainColorBar: #c70000;
$subColorBar: #829AA8;
$bgColorBar: #000;
$txtColorBar: #fff;

// math モジュール
@use "sass:math";

// common/_index.scss を読み込む（mixin が使える）
@use 'mixin';